.shadow-box{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

    height: 700px;
    width: 80%;
    margin-left: 20%;
    display: flex;
    padding: 10px;

}
.shadow-box > div{
   
    height:100%;
    width:50%;
    padding: 10px;
    
}
.main-empty-div{
    display: flex;
    margin: 2px;
    padding: 1px;
}
.sqaure-div{
    height: 30Vh;
    width: 30Vw;
    border: 1px solid orange;
    position: relative;
    margin-top:350px;
    margin-left: 0px;;
}
.sqaure-div-append-ballon{
    height: 35Vh;
    width: 35Vw;
   border: 1px solid orange;
   
    margin-top: 20px;
    margin-left: 0px;
}
.main-ballon-div > div{
   height: 100px;
   width: 100px;
   

   border-radius: 50%;
   margin: auto;
   margin-bottom: 20px;
   margin-top:20px;

}
.main-ballon-div-1{
    height: 100px;
   width: 100px;
   

   border-radius: 50%;
   margin: auto;
   margin-bottom: 20px;
   margin-top:20px; 
   
}

.Ballon-one{
    background-color: red;
}
.Ballon-two{
    background-color:blue;
}

.Ballon-three{
    background-color:green;
}
.Ballon-four{
    background-color: pink;

}
.Ballon-five{
    background-color: orange;
}

.inside-input-button-div{
    margin: auto;
    margin-top: 300px;
}
/* // practice  */
.div-1 {
    width: 100px;
    height: 100px;
  
    border-radius: 50%;
    margin-top: 15px;
    background-color: yellow;
}

.div-2 {
    width: 100px;
    height: 100px;
   
    border-radius: 50%;
    margin-top: 15px;
    background-color: pink;
}

.div-3 {
    width: 100px;
    height: 100px;

    border-radius: 50%;
    margin-top: 15px;
    background-color: green;
}

.div-4 {
    width: 100px;
    height: 100px;

    border-radius: 50%;
    margin-top: 15px;
    background-color: red;
}

.div-5 {
    width: 100px;
    height: 100px;
  
    border-radius: 50%;
    margin-top: 15px;
    background-color: orange;
}

.main-div {
  
    display: flex;
    gap: 100px;
}

.main-div-1 {
    border: 1px solid blue;
    width: 400px;
    height: 400px;
    margin-top: 100px;
}

.main-div-2 {
    border: 1px solid blue;
    padding: 100px;

}